p {
    color:red;
}

/* 标签选择器 选择同名标签器所有的都会改变 也就是所有的p都会被修改 */


.red {
    color: red;
}

.size {
    font-size: 50px;
}
/* 如果想要局部控制 可以使用class 类， 使用点开头 在使用的地方 用class 属性来引用就可以了 */
/* 一个类选择器 可以给多个标签使用 */